USE [master]
GO
DROP DATABASE [FarmaciaSJ]
USE [FarmaciaSJ]
GO
ALTER TABLE [dbo].[PROVEEDOR_PRODUCTO] DROP CONSTRAINT [FK_PROVEEDOR_PRODUCTO_PRODUCTO]
GO
ALTER TABLE [dbo].[PROVEEDOR_PRODUCTO] DROP CONSTRAINT [FK_PROVEEDOR_PRODUCTO_PROVEEDOR]
GO
ALTER TABLE [dbo].[PEDIDO_FRECUENTE] DROP CONSTRAINT [FK_PEDIDO_FRECUENTE_PEDIDO_FRECUENTE]
GO
ALTER TABLE [dbo].[PEDIDO_FRECUENTE] DROP CONSTRAINT [FK_PEDIDO_FRECUENTE_PEDIDO_FRECUENTE1]
GO
ALTER TABLE [dbo].[HISTORICO_EMPLEADO] DROP CONSTRAINT [FK_HISTORICO_EMPLEADO_EMPLEADO]
GO
ALTER TABLE [dbo].[Linea_Impuesto] DROP CONSTRAINT [FK_Linea_Impuesto_IMPUESTO]
GO
ALTER TABLE [dbo].[Linea_Impuesto] DROP CONSTRAINT [FK_Linea_Impuesto_LINEA]
GO
ALTER TABLE [dbo].[IMPUESTO_DETALLE_VENTA] DROP CONSTRAINT [FK_IMPUESTO_DETALLE_VENTA_DETALLE_VENTA]
GO
ALTER TABLE [dbo].[IMPUESTO_DETALLE_VENTA] DROP CONSTRAINT [FK_IMPUESTO_DETALLE_VENTA_HISTORICO_IMPUESTO]
GO
ALTER TABLE [dbo].[TELEFONO_PROVEEDOR] DROP CONSTRAINT [FK_TELEFONO_PROVEEDOR_PROVEEDOR]
GO
ALTER TABLE [dbo].[PRODUCTO] DROP CONSTRAINT [FK_PRODUCTO_LINEA]
GO
ALTER TABLE [dbo].[DETALLE_COMPRA] DROP CONSTRAINT [FK_DETALLE_COMPRA_COMPRA]
GO
ALTER TABLE [dbo].[DETALLE_COMPRA] DROP CONSTRAINT [FK_DETALLE_COMPRA_PRODUCTO]
GO
ALTER TABLE [dbo].[COMPRA] DROP CONSTRAINT [FK_COMPRA_PROVEEDOR]
GO
ALTER TABLE [dbo].[LOTE] DROP CONSTRAINT [FK_Detalle_Compra_LOTE]
GO
ALTER TABLE [dbo].[LOTE] DROP CONSTRAINT [FK_LOTE_PRODUCTO]
GO
ALTER TABLE [dbo].[VENTA] DROP CONSTRAINT [FK_VENTA_CLIENTE]
GO
ALTER TABLE [dbo].[HISTORICO_IMPUESTO] DROP CONSTRAINT [FK_HISTORICO_IMPUESTO_IMPUESTO]
GO
ALTER TABLE [dbo].[DETALLE_VENTA] DROP CONSTRAINT [FK_DETALLE_VENTA_LOTE]
GO
ALTER TABLE [dbo].[DETALLE_VENTA] DROP CONSTRAINT [FK_DETALLE_VENTA_VENTA]
GO
USE [FarmaciaSJ]
GO
DROP TABLE [dbo].[PROVEEDOR_PRODUCTO]
GO
DROP TABLE [dbo].[PEDIDO_FRECUENTE]
GO
DROP VIEW [dbo].[Buscar_Cliente_Cedula]
GO
DROP TABLE [dbo].[HISTORICO_EMPLEADO]
GO
DROP TABLE [dbo].[OTROS_GASTOS]
GO
DROP TABLE [dbo].[Linea_Impuesto]
GO
DROP TABLE [dbo].[IMPUESTO_DETALLE_VENTA]
GO
DROP TABLE [dbo].[FARMACIA]
GO
DROP TABLE [dbo].[TELEFONO_PROVEEDOR]
GO
DROP TABLE [dbo].[PROVEEDOR]
GO
DROP TABLE [dbo].[PRODUCTO]
GO
DROP TABLE [dbo].[DETALLE_COMPRA]
GO
DROP TABLE [dbo].[IMPUESTO]
GO
DROP TABLE [dbo].[COMPRA]
GO
DROP TABLE [dbo].[LOTE]
GO
DROP TABLE [dbo].[VENTA]
GO
DROP TABLE [dbo].[LINEA]
GO
DROP TABLE [dbo].[EMPLEADO]
GO
DROP TABLE [dbo].[HISTORICO_IMPUESTO]
GO
DROP TABLE [dbo].[DETALLE_VENTA]
GO
DROP TABLE [dbo].[CLIENTE]
