SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLIENTE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[TIPO_IDENTIDAD] [nvarchar](max) NOT NULL,
	[DOCUMENTO_IDENTIDAD] [varchar](max) NOT NULL,
	[NOMBRE] [varchar](max) NOT NULL,
	[APELLIDO] [varchar](max) NULL,
	[TELEFONO] [varchar](max) NOT NULL,
	[DIRECCION] [varchar](max) NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IMPUESTO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[IMPUESTO](
	[ID_IMPUESTO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Nombre] [datetime] NOT NULL,
	[Descripcion] [varchar](max) NOT NULL,
 CONSTRAINT [PK_IMPUESTO] PRIMARY KEY CLUSTERED 
(
	[ID_IMPUESTO] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROVEEDOR]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PROVEEDOR](
	[ID_PROVEEDOR] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](max) NOT NULL,
	[RIF] [varchar](max) NOT NULL,
	[Nombre] [varchar](max) NOT NULL,
	[Mail] [varchar](max) NULL,
	[Ciudad] [varchar](max) NOT NULL,
	[Direccion] [varchar](max) NOT NULL,
	[Saldo] [float] NOT NULL,
	[Estatus] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[ID_PROVEEDOR] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LINEA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LINEA](
	[ID_LINEA] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](max) NOT NULL,
	[DESCRIPCION] [varchar](max) NOT NULL,
	[DESCUENTO_MAXIMO] [float] NOT NULL,
	[MARGEN_UTIL] [float] NOT NULL,
 CONSTRAINT [PK_LINEA] PRIMARY KEY CLUSTERED 
(
	[ID_LINEA] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMPLEADO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EMPLEADO](
	[ID_EMPLEADO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](max) NOT NULL,
	[APELLIDO] [varchar](max) NOT NULL,
	[TIPO_IDENTIDAD] [varchar](max) NOT NULL,
	[RIF/CI] [varchar](max) NOT NULL,
	[TELEFONO] [varchar](max) NOT NULL,
	[MAIL] [varchar](max) NULL,
 CONSTRAINT [PK_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OTROS_GASTOS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OTROS_GASTOS](
	[ID_OTROS_GASTOS] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[MONTO] [float] NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[DESCRIPCION] [float] NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VENTA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[VENTA](
	[ID_VENTA] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NUMERO_FACTURA] [varchar](max) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[VENCE] [datetime] NOT NULL,
	[DESCUENTO] [float] NULL,
	[TIPO_PAGO] [varchar](max) NULL,
	[NUMERO_T_CHEQ] [varchar](max) NULL,
	[ID_CLIENTE] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_VENTA] PRIMARY KEY CLUSTERED 
(
	[ID_VENTA] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PEDIDO_FRECUENTE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PEDIDO_FRECUENTE](
	[ID_PEDIDO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NUMERO_PEDIDO] [varchar](max) NOT NULL,
	[FECHA_INICIO] [datetime] NOT NULL,
	[FECHA_FIN] [datetime] NOT NULL,
	[FECHA_ULTIMA_COMPRA] [datetime] NOT NULL,
	[DESCRIPCION] [varchar](max) NOT NULL,
	[CANTIDAD_DIARIA] [numeric](18, 0) NOT NULL,
	[ID_PRODUCTO] [numeric](18, 0) NOT NULL,
	[ID_CLIENTE] [numeric](18, 0) NOT NULL,
	[ESTATUS] [varchar](max) NOT NULL,
 CONSTRAINT [PK_PEDIDO_FRECUENTE_1] PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DETALLE_VENTA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DETALLE_VENTA](
	[ID_DETALLE_VENTA] [numeric](18, 0) NOT NULL,
	[ID_VENTA] [numeric](18, 0) NOT NULL,
	[Cantidad] [numeric](18, 0) NOT NULL,
	[ID_LOTE] [numeric](18, 0) NOT NULL,
	[ID_IMPUESTO] [numeric](18, 0) NULL,
	[ID_HISTORICO_IMPUESTO] [numeric](18, 0) NULL,
	[ID_PRODUCTO] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_DETALLE_VENTA] PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE_VENTA] ASC,
	[ID_VENTA] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HISTORICO_IMPUESTO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HISTORICO_IMPUESTO](
	[ID_HISTORICO_IMPUESTO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_IMPUESTO] [numeric](18, 0) NOT NULL,
	[FECHA_INICIO] [datetime] NOT NULL,
	[FECHA_FIN] [datetime] NULL,
	[VALOR] [float] NOT NULL,
	[DESCRIPCION] [varchar](max) NOT NULL,
 CONSTRAINT [PK_HISTORICO_IMPUESTO] PRIMARY KEY CLUSTERED 
(
	[ID_HISTORICO_IMPUESTO] ASC,
	[ID_IMPUESTO] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DETALLE_COMPRA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DETALLE_COMPRA](
	[ID_DETALLE_COMPRA] [numeric](18, 0) NOT NULL,
	[ID_COMPRA] [numeric](18, 0) NOT NULL,
	[CANTIDAD] [numeric](18, 0) NOT NULL,
	[COSTO_TOTAL] [numeric](18, 0) NOT NULL,
	[ID_PRODUCTO] [numeric](18, 0) NOT NULL,
	[COSTO_UNIDAD] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_DETALLE_COMPRA] PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE_COMPRA] ASC,
	[ID_COMPRA] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPRA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[COMPRA](
	[ID_COMPRA] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[FECHA_COMPRA] [datetime] NOT NULL,
	[VENCE] [datetime] NOT NULL,
	[MONTO] [float] NOT NULL,
	[DESCUENTO_GLOBAL] [float] NOT NULL,
	[NUMERO_FACTURA_COMPRA] [varchar](max) NOT NULL,
	[ID_PROVEEDOR] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_COMPRA] PRIMARY KEY CLUSTERED 
(
	[ID_COMPRA] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROVEEDOR_PRODUCTO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PROVEEDOR_PRODUCTO](
	[ID_PROVEEDOR] [numeric](18, 0) NOT NULL,
	[ID_PRODUCTO] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_PROVEEDOR_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_PROVEEDOR] ASC,
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TELEFONO_PROVEEDOR]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TELEFONO_PROVEEDOR](
	[ID_TELEFONO_PROVEEDOR] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_PROVEEDOR] [numeric](18, 0) NOT NULL,
	[CODIGO_DE_AREA] [varchar](max) NOT NULL,
	[NUMERO] [varchar](max) NOT NULL,
 CONSTRAINT [PK_TELEFONO_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[ID_TELEFONO_PROVEEDOR] ASC,
	[ID_PROVEEDOR] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LOTE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LOTE](
	[ID_LOTE] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[CANTIDAD] [numeric](18, 0) NOT NULL,
	[FECHA_VENCIMIENTO] [datetime] NOT NULL,
	[PVP] [float] NOT NULL,
	[DESCUENTO] [float] NOT NULL,
	[ID_PRODUCTO] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_LOTE] PRIMARY KEY CLUSTERED 
(
	[ID_LOTE] ASC,
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PRODUCTO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PRODUCTO](
	[ID_PRODUCTO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](max) NOT NULL,
	[CODIGO_DE_BARRAS] [varchar](max) NOT NULL,
	[CODIGO] [varchar](max) NOT NULL,
	[DESCRIPCION] [varchar](max) NOT NULL,
	[GRAVADO_EXENTO] [varchar](max) NOT NULL,
	[UNIDADES_POR_PAQUETE] [numeric](18, 0) NOT NULL,
	[ID_LINEA] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HISTORICO_EMPLEADO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HISTORICO_EMPLEADO](
	[ID_HISTORICO_EMPLEADO] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_EMPLEADO] [numeric](18, 0) NOT NULL,
	[CARGO] [varchar](max) NOT NULL,
	[SUELDO] [float] NOT NULL,
	[FECHA_INGRESO] [datetime] NOT NULL,
	[FECHA_FIN] [datetime] NULL,
	[JUSTIFICACION] [varchar](max) NULL,
 CONSTRAINT [PK_HISTORICO_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[ID_HISTORICO_EMPLEADO] ASC,
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[Buscar_Cliente_Cedula]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[Buscar_Cliente_Cedula]
AS
SELECT     ID_CLIENTE, TIPO_IDENTIDAD, DOCUMENTO_IDENTIDAD, NOMBRE, APELLIDO, TELEFONO, DIRECCION
FROM         dbo.CLIENTE
WHERE     (TIPO_IDENTIDAD = ''Cedula'') AND (DOCUMENTO_IDENTIDAD = ''16247157'')
' 
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_DiagramPane1' , N'SCHEMA',N'dbo', N'VIEW',N'Buscar_Cliente_Cedula', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "CLIENTE"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 121
               Right = 244
            End
            DisplayFlags = 280
            TopColumn = 4
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Buscar_Cliente_Cedula'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_DiagramPaneCount' , N'SCHEMA',N'dbo', N'VIEW',N'Buscar_Cliente_Cedula', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Buscar_Cliente_Cedula'
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VENTA_CLIENTE]') AND parent_object_id = OBJECT_ID(N'[dbo].[VENTA]'))
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_CLIENTE]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PEDIDO_FRECUENTE_PEDIDO_FRECUENTE]') AND parent_object_id = OBJECT_ID(N'[dbo].[PEDIDO_FRECUENTE]'))
ALTER TABLE [dbo].[PEDIDO_FRECUENTE]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_FRECUENTE_PEDIDO_FRECUENTE] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[PEDIDO_FRECUENTE] CHECK CONSTRAINT [FK_PEDIDO_FRECUENTE_PEDIDO_FRECUENTE]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PEDIDO_FRECUENTE_PEDIDO_FRECUENTE1]') AND parent_object_id = OBJECT_ID(N'[dbo].[PEDIDO_FRECUENTE]'))
ALTER TABLE [dbo].[PEDIDO_FRECUENTE]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDO_FRECUENTE_PEDIDO_FRECUENTE1] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[PEDIDO_FRECUENTE] CHECK CONSTRAINT [FK_PEDIDO_FRECUENTE_PEDIDO_FRECUENTE1]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DETALLE_VENTA_HISTORICO_IMPUESTO]') AND parent_object_id = OBJECT_ID(N'[dbo].[DETALLE_VENTA]'))
ALTER TABLE [dbo].[DETALLE_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_VENTA_HISTORICO_IMPUESTO] FOREIGN KEY([ID_HISTORICO_IMPUESTO], [ID_IMPUESTO])
REFERENCES [dbo].[HISTORICO_IMPUESTO] ([ID_HISTORICO_IMPUESTO], [ID_IMPUESTO])
GO
ALTER TABLE [dbo].[DETALLE_VENTA] CHECK CONSTRAINT [FK_DETALLE_VENTA_HISTORICO_IMPUESTO]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DETALLE_VENTA_LOTE]') AND parent_object_id = OBJECT_ID(N'[dbo].[DETALLE_VENTA]'))
ALTER TABLE [dbo].[DETALLE_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_VENTA_LOTE] FOREIGN KEY([ID_LOTE], [ID_PRODUCTO])
REFERENCES [dbo].[LOTE] ([ID_LOTE], [ID_PRODUCTO])
GO
ALTER TABLE [dbo].[DETALLE_VENTA] CHECK CONSTRAINT [FK_DETALLE_VENTA_LOTE]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DETALLE_VENTA_VENTA]') AND parent_object_id = OBJECT_ID(N'[dbo].[DETALLE_VENTA]'))
ALTER TABLE [dbo].[DETALLE_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_VENTA_VENTA] FOREIGN KEY([ID_VENTA])
REFERENCES [dbo].[VENTA] ([ID_VENTA])
GO
ALTER TABLE [dbo].[DETALLE_VENTA] CHECK CONSTRAINT [FK_DETALLE_VENTA_VENTA]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HISTORICO_IMPUESTO_IMPUESTO]') AND parent_object_id = OBJECT_ID(N'[dbo].[HISTORICO_IMPUESTO]'))
ALTER TABLE [dbo].[HISTORICO_IMPUESTO]  WITH CHECK ADD  CONSTRAINT [FK_HISTORICO_IMPUESTO_IMPUESTO] FOREIGN KEY([ID_IMPUESTO])
REFERENCES [dbo].[IMPUESTO] ([ID_IMPUESTO])
GO
ALTER TABLE [dbo].[HISTORICO_IMPUESTO] CHECK CONSTRAINT [FK_HISTORICO_IMPUESTO_IMPUESTO]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DETALLE_COMPRA_COMPRA]') AND parent_object_id = OBJECT_ID(N'[dbo].[DETALLE_COMPRA]'))
ALTER TABLE [dbo].[DETALLE_COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_COMPRA_COMPRA] FOREIGN KEY([ID_COMPRA])
REFERENCES [dbo].[COMPRA] ([ID_COMPRA])
GO
ALTER TABLE [dbo].[DETALLE_COMPRA] CHECK CONSTRAINT [FK_DETALLE_COMPRA_COMPRA]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_DETALLE_COMPRA_PRODUCTO]') AND parent_object_id = OBJECT_ID(N'[dbo].[DETALLE_COMPRA]'))
ALTER TABLE [dbo].[DETALLE_COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_COMPRA_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[DETALLE_COMPRA] CHECK CONSTRAINT [FK_DETALLE_COMPRA_PRODUCTO]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_COMPRA_PROVEEDOR]') AND parent_object_id = OBJECT_ID(N'[dbo].[COMPRA]'))
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_COMPRA_PROVEEDOR] FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[PROVEEDOR] ([ID_PROVEEDOR])
GO
ALTER TABLE [dbo].[COMPRA] CHECK CONSTRAINT [FK_COMPRA_PROVEEDOR]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROVEEDOR_PRODUCTO_PRODUCTO]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROVEEDOR_PRODUCTO]'))
ALTER TABLE [dbo].[PROVEEDOR_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PROVEEDOR_PRODUCTO_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[PROVEEDOR_PRODUCTO] CHECK CONSTRAINT [FK_PROVEEDOR_PRODUCTO_PRODUCTO]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PROVEEDOR_PRODUCTO_PROVEEDOR]') AND parent_object_id = OBJECT_ID(N'[dbo].[PROVEEDOR_PRODUCTO]'))
ALTER TABLE [dbo].[PROVEEDOR_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PROVEEDOR_PRODUCTO_PROVEEDOR] FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[PROVEEDOR] ([ID_PROVEEDOR])
GO
ALTER TABLE [dbo].[PROVEEDOR_PRODUCTO] CHECK CONSTRAINT [FK_PROVEEDOR_PRODUCTO_PROVEEDOR]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_TELEFONO_PROVEEDOR_PROVEEDOR]') AND parent_object_id = OBJECT_ID(N'[dbo].[TELEFONO_PROVEEDOR]'))
ALTER TABLE [dbo].[TELEFONO_PROVEEDOR]  WITH CHECK ADD  CONSTRAINT [FK_TELEFONO_PROVEEDOR_PROVEEDOR] FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[PROVEEDOR] ([ID_PROVEEDOR])
GO
ALTER TABLE [dbo].[TELEFONO_PROVEEDOR] CHECK CONSTRAINT [FK_TELEFONO_PROVEEDOR_PROVEEDOR]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_LOTE_PRODUCTO]') AND parent_object_id = OBJECT_ID(N'[dbo].[LOTE]'))
ALTER TABLE [dbo].[LOTE]  WITH CHECK ADD  CONSTRAINT [FK_LOTE_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[LOTE] CHECK CONSTRAINT [FK_LOTE_PRODUCTO]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PRODUCTO_LINEA]') AND parent_object_id = OBJECT_ID(N'[dbo].[PRODUCTO]'))
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_LINEA] FOREIGN KEY([ID_LINEA])
REFERENCES [dbo].[LINEA] ([ID_LINEA])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_LINEA]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_HISTORICO_EMPLEADO_EMPLEADO]') AND parent_object_id = OBJECT_ID(N'[dbo].[HISTORICO_EMPLEADO]'))
ALTER TABLE [dbo].[HISTORICO_EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_HISTORICO_EMPLEADO_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[HISTORICO_EMPLEADO] CHECK CONSTRAINT [FK_HISTORICO_EMPLEADO_EMPLEADO]
